<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-6 view-trail">
            <a href="../trails"> <i class="fas fa-arrow-left fa"></i><strong> View all Trails</strong></a>
        </div>
        <div class="col-md-12">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= trail.image %>">
                <div class="caption-full">
                    <h4><a><%=trail.name%></a></h4>
                    <p><%= trail.description %></p>
                    <p>
                        <em>Submitted By <%= trail.author.username %></em>
                    </p>
                    <% if(currentUser && trail.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-warning" href="/trails/<%= trail._id %>/edit">Edit</a>
                        <form id="delete-form" action="/trails/<%= trail._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-info" href="/trails/<%= trail._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% trail.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">15 days ago</span>
                            <p>
                                <%= comment.text %> 
                            </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" 
                                href="/trails/<%=trail._id %>/trails/<%=comment._id %>/edit">Edit</a>
                            <form id="delete-form" action="/trails/<%=trail._id %>/trails/<%=comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>